$primary: #6F10E2;
$secondary: #00BAFF;
$tertiary: #FCC505;
$quartenary: #FF9766;

$primary-gradient: #2C0C69;
$secondary-gradient: #00BAFF;
$tertiary-gradient: #FCC505;
$quartenary-gradient: #FF9766;