$primary: #6F10E2;
$secondary: #0392d8;
$tertiary: #facf42;
$quartenary: #f78429;
$menu: #e0e8cb;
$gray-zambezi: #5a5a5a;


$primary-gradient: #2b0c67;
$secondary-gradient: #0a4ae3;
$tertiary-gradient: #E0850A;
$quartenary-gradient: #FF9766;

$support-start: #ff9666;
$support-end: #fc6162;

$colors: (
    primary: (
        base: $primary,
        gradient: $primary-gradient,
        opacity95: rbga($primary, 0.95)
    ),
    secondary: (
        base: $secondary,
        gradient: $secondary-gradient,
        opacity95: rgba($secondary, 0.95)
    ),
    tertiary: (
        base: $tertiary,
        gradient: $tertiary-gradient,
        opacity95: rgba($tertiary, 0.95)
    ),
    quartenary: (
        base: $quartenary,
        gradient: $quartenary-gradient,
        opacity95: rbga($quartenary, 0.95)
    ),
    white: (
        base: #FFF,
        gradient: #FFF,
        opacity95: rbga(#FFF, 0.95)
    )
);
.background-white-base{
    background-color: #FFF,
}