$default-height-player: 50px;
$default-outline-cover: 20px;

$default-height-tabs: 50px;
$default-height-header: 90px;
$base-size: 16;

$initial-margin: 28px;
$header-margin-top: 32px;
$button-margin-top: 12px;
$button-margin-right: 12px;
$header-button: 32px;

$header-margin-left: 16px;
$header-margin-right: 16px;
$header-margin-bottom: 16px;

$content-margin-top: 100px;
$content-margin-left: 16px;
$content-margin-right: 16px;

$card-padding: 20px;
$menu-padding: 20px;
$menu-scroll-margin: 16px;
$list-margin: 24px;
$list-padding-top: 8px;
$list-padding-bottom: 20px;

