.vertical-video-modal-container{
  .sliding-panel-container{
    top: -50px;
    z-index: 10;
  }
}

.sliding-panel-with-player-container{
  .sliding-panel-container{
    top: -100px;
    z-index: 10;
  }
  .mini-player{
    z-index: 11;
  }
}

.video-all-info{
  display: flex;
  flex-direction: column;
  align-items: center;
}