.artist-page{
    .menu{
        &.generic{
            &.scroll {
                margin-top: 0px;
                padding: 16px;
                padding-bottom: 4px;
                margin-bottom: 12px;
                transition: transform 500ms;
                display: flex;
                overflow: scroll;
            }
        }
    }
    .menuFixed{
        // originally 266 goes to 62px;
        top: 276px;
        position: fixed;
        width: 100%;
        bottom: 0;
        opacity: 1;
    }
    .notFixed{
        opacity: 1;
    }
    position: relative;
    //hack for positioning behind - top = glasspanel
    &.content{
        position: absolute;
        top: 160px;
        bottom: 0;
        height: auto;
        width: 100%;
    }
    .row{
        width: 100%;
        margin-bottom: 5px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .emptySpace{
        height: 130px;
    }
    .artistName{
        display: flex;
        &.center{
            justify-content: center;
        }
    }
    .supportBtn{
        z-index: 11;
        display: flex;
        &.center{
            justify-content: center;
            margin-bottom: 20px;
        }
        &.right{
            top: 44px;
            position: fixed;
            right: 16px;
            display: block;
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            animation-timing-function: ease-in;
            animation-duration: 200ms;
        }

        @keyframes fadeInOpacity {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
    &.is-playing {
        ion-content{
            --padding-bottom: #{$default-height-player + $default-height-tabs + 251};
        }
    }
    h2{
        margin: 0;
        text-shadow: 3px 1px rgba(0, 0, 0, 0.16);
        &.title {
            font-size: pxToRem(48);
            font-family: "Industria";
            font-weight: 600;
            color: white;
            text-align: center;
            margin-bottom: 6px;
            &.left{
                opacity: 0;
                transition: opacity 1000ms;
                top: 150px;
                position: fixed;
                display: block;
                font-size: pxToRem(30);
            }
            &.center{
                opacity: 1;
                transform: translate(0,0);
                transition: opacity 1000ms;
            }
        }
    }

    .artist-discography-page{
        margin-bottom: 150px;
    }
}

