.artist-event-detail-page{
    
    @include page;

    .top-fixed{
        width: 100%;
        height: 350px;
        z-index: 2;
        top: 0;
        position: fixed;
        background: linear-gradient(180deg, #000, #0e0819);
        .content-fixed{
            height: 250px;
            z-index: 2;
            position: fixed;
            width: 100%;
            background: linear-gradient(180deg, #000,#0e0819);
            top: 120px;
            
            .card{
                padding-left: 20px;
                padding-right: 20px;
                &.event{
                    .row{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    
    .content-list{
        position: relative;
        top: 370px;
        @include list-user;
        ion-item{
            border-bottom: none;
            padding-bottom: 5px;
        }
        .item-native{
            padding: 0 !important;
            .item-inner{
                padding: 0 !important;
            }
        }

        &.is-playing{
            padding-bottom: #{$default-height-player + $default-height-tabs + 10};
        }
    }


    .action{
        padding: 0 !important;
        .btn{
        
            &.gradient { 
                color: #FFF !important;
                width: 85px !important;
            }
        }
    }
   

    
}