.artist-page{
    @include page;

    .row {
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    &.is-playing {
        padding-bottom: 60px;
    }

    .name{
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        h1{
            &.title{
                text-shadow: 3px 1px rgba(0, 0, 0, 0.16);
            }
        }
    }
}