.artist-events-page{

    @include page;
    @include top-header;
    background: #000;

    ion-header{
        .header{
            height: $default-height-header;
        }
        --background: rgba(255,255,255,0.2);
        &.blur{
            -webkit-backdrop-filter: blur(9.5px);
            backdrop-filter: blur(9.5px);
        }
    }

    .background-image {
        background-size: contain;
    }

    .fixed-content{
        height: 40%;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .content-list{
        background: #000;
        position: relative;
        padding-top: 10px;
        padding-bottom: 60px;
        top: 320px;
        .list{
            background: #000;
            .item{
                background: black;
                --background: #000;
                border-bottom: 1px solid #426193;
                margin-bottom: 10px;
                &:last-child{
                    border-bottom: 0 solid #426193 !important;
                }
                .card{
                    width: 100%;
                    &.event{
                        .row{
                            margin-bottom: 0;
                        }
                        margin-top: 0;
                        .circle{
                            &.calendar{
                                margin-top: 7px;
                            }
                        }
                        .list{
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}