.artist-biography-page{
    .headline{
        color: $quartenary;
    }
    .readmore{
        color: $gray-zambezi;
        .member{
            max-height: 180px;
        }
    }
    .article{
        color: $gray-zambezi;
        white-space: pre-line;
    }
    .sky{
        display: block;
        min-height: 240px;
        max-height: 360px;
        height: 240px;
    }
    .footer{
        min-height: 45px;
        height: 45px;
        margin-bottom:100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        .footer-buttons{
            display: inline-flex;
            margin-right: 4px;
        }
        #arrow-right{
            padding-top: 4px;
        }
    }

    .square {
        width: 100px;
        height: 100px;
        opacity: 0.5;
        background: blue;
        margin: 10px;
        --background: red;
    }
    .items{
        display: flex;
    }

    .template-cover{
        .feature{
            font-size: pxToRem(66);
            text-align: right;
            text-transform: uppercase;
            color: #F78429;
            white-space: pre;
            font-family: "Industria";
            font-weight: 600;
            line-height: 1;
        }
        .cover-feature{
            bottom: 52px;
            position: absolute;
            right: 26px;
        }.read{
            margin-top: 8px;
            margin-bottom: 8px;
            font-size: 18px;
            font-weight: normal;
            text-transform: capitalize;
            color: #ffffff;
            font-family: "Helvetica";
        }
        .read::after{
            content: "\203A";
            padding-left: 4px;
            padding-right: 4px;
            font-size: 24px;
        }
        .sky{
            min-height: 375px;
            max-height: 375px;
            height: 375px;
        }
    }

    .template-cover, .template-cover-half, .template-cover-video{
        display: block;
    }
    .template-cover, .template-cover-video{
        .chapter-zero{
            height: 100vh;
            position: relative;
        }
    }

    .template-cover-half{
        .chapter-zero{
            height: 50vh;
            margin-bottom: 50vh;

            .cover-feature{
                right: 0;
                bottom: 0;
                top: 0;
                margin-top: 50vh;
                height: 50vh;
                position: absolute;
                max-width: 100vw;
                overflow: hidden;
                background: linear-gradient(#231441, #080709);
            }
        }
        .read{
            display: none;
        }
        .name-headline{
            margin-bottom: 0;
            padding-bottom: 0;
        }
        .headline{
            font-size: 36px;
            color: $gray-zambezi;
            font-family: "Baskerville Italic";
            font-style: italic;
        }
        .article{
            font-family: 'Helvetica';
            font-size: 18px;
        }
        .read-more-label{
            display: inline;
        }
        .feature{
            margin: 32px;
            display: block;
            font-size: 32px;
            text-align: left;
            color: #ffffff;
            font-family: "Helvetica";
            text-transform: none;
            font-weight: 600;
            line-height: 1.3;
            white-space: normal;
            margin-bottom: 12px;
        }
        .sub{
            margin-left: 32px;
            margin-right: 40px;
            text-align: left;
        }

    }

    .template-cover-video{
        .byline{
            margin: 0;
        }
        .sub{
            display: none;
        }
        .article{
            font-size: 22px;
        }
        .readmore{
            margin: 12px;
            text-transform: uppercase;
            font-family: "Helvetica";
            font-weight: 600;
            font-size: 24px;
            text-align: left;
        }
        .headline{
            display: block;
            color: #000;
        }
        .feature{
            display: none;
        }
        .read{
            display: none;
        }
    }
    .member-photo {
        border-radius: 10px;
        overflow: hidden;
    }
}