.artist-gallery-page{

    @include page;

    .background-top {
        top: #{-$default-height-header};
        position: absolute;
    }
    ion-header{
        .header{
            height: $default-height-header;
        }
        &.blur {
            -webkit-backdrop-filter: blur(9.5px);
            backdrop-filter: blur(9.5px);
        }

        --background: rgba(255,255,255,0.2);
    }
    .content-container{
        position: relative;
        top: 92px;
    }
}