.artist-event-detail-page{
    @include page;
    .card-event{
        border-bottom: 1px solid $secondary;
        &.row{
            margin-bottom: 0;
        }
    }
    .content-fixed{
        top: 0;
        z-index: 2;
        width: 100%;
        background: linear-gradient(180deg, #000,#0e0819);
        padding-top: 100px;
        top: 0;
    }
    .content-list{
        margin-top: 320px;
        position: relative;
        @include list-user;
        &.is-playing{
            padding-bottom: #{$default-height-player + $default-height-tabs + 10};
        }
    }    
}