.artist-support-page{
    overflow: auto;
    .col{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .detail-header{
        display: block;
        text-align: left;
    }
    &.detail{
        color: #000;
        .header{
            padding-left: 8px;
            line-height: 1.17;
            font-family: "Industria";
            font-weight: bold;
            display: block;
        }
        margin-top: $default-height-header;
        margin-bottom: $default-height-header;
        margin-left: $list-margin;
        margin-right: $list-margin;
        .price{
            line-height: 1;
            margin-left: 0;
            color: #000;
            font-size: pxToRem(72);
            .currency{
                font-size: 30px;
                vertical-align: middle;
            }
            .price-after{
                vertical-align: bottom;
                display: inline-block;
                margin-left: 8px;
                margin-bottom: 8px;
            }
        }
    }
}