.supportByHide{
    .support-by-component{
        opacity: 0;
        transform: translateX(120%);
        transition: transform 500ms, opacity 500ms;
    }
}
.supportByShow{
    .support-by-component{
        transform: translateX(0);
        opacity: 1;
        transition: opacity 500ms, transform 500ms;
    }
}
.artist-page{
    .menu{
        &.generic{
            &.scroll {
                margin-top: 0px;
                padding: 16px;
                padding-bottom: 4px;
                margin-bottom: 12px;
                transition: transform 500ms;
            }
        }
    }
    .menuFixed{
        // originally 266 goes to 62px;
        top: 266px;
        position: fixed;
        width: 100%;
        bottom: 0;
        transform: translateY(-204px);
        transition: transform 500ms;
    }
    .notFixed{
        transform: translateY(0);
        transition: transform 500ms;
    }
    position: relative;
    &.glassPanel{
        position: fixed;
        top: 0px;
        height: 160px;
        width: 100%;
        bottom: 0;
    }
    //hack for positioning behind - top = glasspanel
    &.content{
        position: absolute; 
        top: 160px; 
        bottom: 0;
        height: auto;
        width: 100%;
    }
    .row{
        width: 100%;
        margin-bottom: 5px;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
    &.name{
        font-size: pxToRem(30);
        font-family: "Industria";
        font-weight: 600;
        color: white;
        text-align: left;
        margin-left: -16px;
        margin-top: 0;
        text-shadow: 0 3px 1px rgba(0, 0, 0, 0.16);
        opacity: 1;
        &.hide{
            opacity: 0;
            transition: opacity 1000ms;
        }
    }
    
    .emptySpace{
        height: 130px;
    }
    .artistName{
        display: flex;
        &.center{
            justify-content: center;
        }
    }
    .supportBtn{
        display: flex;
        &.center{
            justify-content: center;
            margin-bottom: 20px;
            .support{
                transform: translate(0, 0);
                transition: transform 500ms;
            }
        }
        &.right{
            top: 206px;
            position: fixed;
            right: 16px;
            display: block;
            .support{
                top: 206px;
                position: fixed;
                left: calc(50% - 48px);
                display: block;
                transform: translate(calc(100% - 24px), -176px);
                transition: transform 500ms;
            }
        }
    }
    &.is-playing {
        padding-bottom: 60px;
    }
    h2{
        margin: 0;
        text-shadow: 3px 1px rgba(0, 0, 0, 0.16);
        &.title {
            font-size: pxToRem(48);
            font-family: "Industria";
            font-weight: 600;
            color: white;
            text-align: center;
            margin-bottom: 6px;
            &.left{
                // top: 30px;
                opacity: 0;
                top: 150px;
                transform: translate(calc(100px - 50vw), -120px);
                transition: transform 500ms, opacity 1000ms;
                position: fixed;
                display: block;
                font-size: pxToRem(30);
            }
            &.center{
                opacity: 1;
                transform: translate(0,0);
                transition: transform 500ms, opacity 1000ms;
            }
        }
    }
}