.artist-features-page{
    padding-bottom: 50px;
    .slider {
        .col{
            .row {
                margin-right: 0 !important;
                margin-left: 0 !important;
            }
        }
    }
    
        h1{
            &.title{
                font-size: pxToRem(50);
            }
        }
    
}