.community-page{
    &.is-playing{
        padding-bottom: 43px;
    }
    &.content{
        .filter{
            .btn{
                font-size: pxToRem(17);
                padding: 0 12px;
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }
}
