.discovery {
    &-page {
        .discovery-col {
            padding: 6px;
        }
        .discovery-row {
            margin-bottom: 0;
            padding-left: 18px;
            padding-right: 18px;
        }
    }

}
