#enter-code-page{
    .atg-header{
        margin: $initial-margin-top;
        margin-top: $header-margin-top;
    }
}
.enter-code-page{
    height: 100%;
    margin: $initial-margin-top;
    .col{
        padding: 0;
    }
    .title{
        font-size: 48px;
    }
    p{
        color: #FFF;
        font-size: pxToRem(16);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;

        &.didnt-receive{
            font-size: pxToRem(16);
            color: #9B9C9D;
        }
    }

    .header{
        height: 60px;
        margin-top: 0;
        .btn {
            &.icon{
                padding: 0 10px;
            }
        }
    }

    .input-div{
        p{
            font-size: pxToRem(18);
        }

        input { 
            color: #757575;
            letter-spacing: 0.2em;
            text-align: center;
        }
    }
    
}