.initial-page{ 
    height: 100%;
    .title{ 
        &.album{
            font-size: 80px;
            line-height: 70px;
            font-family: "Industria";
            font-weight: 600;
        }
    }

    .subtitle{ 
        font-family: "Industria";
        font-weight: 600;
        &.album{
            font-size: 25px;
            margin-left: 0px;
        }
    }
}
