.message-notifications-page{
    .not-read{
        position: relative;
        &::before{
            display: block;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #00a957;
            content: "";
            position: absolute;
            top: 6px;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
    .info{
        color: #FFF;
        padding-left: 24px;
        
        span{
            display: block;
            word-wrap: break-word;
            line-height: 16px;
            &:first-child{
                position: relative;
                line-height: 18px;
                font-family: Helvetica;
                color: #FFF;
                font-weight: bold;
                margin-bottom: 4px;
                &::after{
                    content: attr(data-date);
                    display: inline-block;
                    position: absolute;
                    right: 0;
                    font-size: 12px;
                    font-family: Helvetica;
                }
                color: #FFF;
                font-weight: bold;
            }
        }
    }
}