.profile-page{
    @include page;

    height: 100%;

    ion-item-sliding.item-sliding-active-slide {
        ion-item{
            --ion-background-color: #1e053b;
        }
    }

    .artist-list{
        background: transparent;
        .row{
            margin-bottom: 0;
        }
    }

    &.is-playing{
        .profile-mixtapes-page{
            padding-bottom: 60px;
        }
        ion-content{
            --padding-bottom: #{$default-height-player + $default-height-tabs + 220};
        }
    }
}