.profile-friends-page{

    @include list-transparent;

    .row {
        width: 100%;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .image{
        display: flex;
        justify-content: center;
    }

    .info{
       display: flex;
       flex-direction: column;
       justify-content: center;
       height: 50px;
        .user{
            display: block;
            color: #FFF;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 20px;
        }
    }

    .btn{
        &.normal{
            border-radius: 0;
            height: 100%;
            padding-left: 5px;
            padding-right: 5px;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

     .action {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 50px;
        button {
            display: flex;
            justify-content: center;

            &.gradient{
                background: linear-gradient(120deg, #FACF42 0%, #E0850A 100%);
                border-radius: 8px;
                color: #000;
                font-family: Helvetica, Arial, sans-serif;
                font-weight: bold;
                height: 35px;
                width: 88px;
                font-size: 14px;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.14;
                letter-spacing: normal;
                text-align: center;
            }
            &.circle{
                padding: 0;
            }
        }
    }

}