.sign-in-page{
    height: 100%;
    
    .form{
        margin-top: 20%;
    }
    
    .title{
        font-size: 3em;
        margin-top: 0;
    }
    .link { 
        font-size: 1em;
        color: #6F6F6F;
        font-family: "Montserrat";
        font-weight: 400;
    }

    .header{
        @include header-with-button;

        .transparent-gray{
            background: rgba(0, 0, 0, 0.3);
        }
    }

    .rounded-tooltip{
        & div:first-child{
            font-size: 3.2em;
            padding-bottom: 6px;
        }
    }
    
}