.thank-you-page{
    margin-top: $default-height-header;
    margin-bottom: $default-height-header;
    overflow: hidden;
    h1, h2, p{
        color: #fff;
        font-family: "Helvetica";
        text-align: center;
    }
    h1{
        font-size: pxToRem(32);
    }
    h2{
        margin-bottom: pxToRem(40);
        font-size: pxToRem(18);
        margin-top: 0;
    }
    .link{
        margin-top:  pxToRem(20);
        p{
            font-size: pxToRem(14);
        }
    }
}