.thank-you-page{
    margin: $initial-margin-top;
    margin-top: pxToRem(50) !important;
    margin-bottom: pxToRem(50) !important;
    .space-between{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: normal;
        width: 100%;
        margin-top: pxToRem(30);
    }



    .justify-center{
        flex-direction: column;
        .row{
            width: 100%;
            text-align: center;
        }
    }

    h1, h2, p{
        color: #fff;
        font-family: "Helvetica";
        text-align: center;
    }
    h1{
        font-size: pxToRem(32);
    }

    h2{
        margin-bottom: pxToRem(40);
        font-size: pxToRem(18);
    }

    .link{
        margin-top:  pxToRem(20);
        p{
            font-size: pxToRem(14);
        }
    }
}