@font-face {
	font-family: 'Helvetica';
    src: url('./../../../assets/fonts/Helvetica/helvetica-neue-lt-std-47-light-condensed.otf') format("opentype");
    font-weight: 300;
    font-stretch: condensed;
}

@font-face {
	font-family: 'Helvetica';
    src: url('./../../../assets/fonts/Helvetica/HelveticaNowDisplayXBlk.otf') format("opentype");
    font-weight: 900;
}