@font-face {
	font-family: 'Industria';
    src: url('./../../../assets/fonts/Industria/Industria_Solid.ttf');
    font-weight: 600;
}

@font-face {
	font-family: 'Industria';
    src: url('./../../../assets/fonts/Industria/industrialtstd-solid.otf') format("opentype");
    font-weight: 600;
    font-style: italic;
}