@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Black.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Black.otf') format("opentype");
    font-weight: 900;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-BlackItalic.otf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-BlackItalic.ttf') format("opentype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Bold.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Bold.otf') format("opentype");
    font-weight: 700;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Bold.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Bold.otf') format("opentype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraBold.otf') format("opentype");
    font-weight: 800;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.otf') format("opentype");
    font-weight: 800;
    font-style: italic;
}


@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraBold.otf') format("opentype");
    font-weight: 800;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraLight.otf') format("opentype");
    font-weight: 200;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ExtraLightItalic.otf') format("opentype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Italic.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Italic.otf') format("opentype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Regular.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Regular.otf') format("opentype");
    font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Light.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Light.otf') format("opentype");
    font-weight: 300;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-LightItalic.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-LightItalic.otf') format("opentype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-MediumItalic.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-MediumItalic.otf') format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Medium.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Medium.otf') format("opentype");
    font-weight: 500;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-SemiBoldItalic.otf') format("opentype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-SemiBold.otf') format("opentype");
    font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Thin.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-Thin.otf') format("opentype");
    font-weight: 100;
}

@font-face {
	font-family: 'Montserrat';
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ThinItalic.ttf');
    src: url('./../../../assets/fonts/Montserrat/Montserrat-ThinItalic.otf') format("opentype");
    font-weight: 100;
    font-style: italic;
}