ion-content{
    --background: transparent;
}
.background-top, .background-bottom {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    position: fixed;
    &.rotate{
        transform: rotate(180deg);
    }
    &.background-bottom{
        bottom: -50px;
        margin-top: 50%;
    }
    &.background-top{
        top: 0;
        margin-top: 0;
    }
}
.background-legend {
    writing-mode: vertical-rl;
    font-size: 12px;
    color: #707070;
    position: absolute;
    right: 10px;
    top: 100px;
    transform: rotate(-180deg);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.background-image{
    filter: saturate(1.2);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    &.blur{
        animation: blur 0.5s ease forwards;
        background-color: rgb(0, 0, 0);
    }

    &.shadow{
        box-shadow: inset 0px 60px 70px 0px #000, inset 0px -60px 70px 0px #000;
    }
}

@include keyframes(blur) {
    0% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
    50% {
        -webkit-filter: blur(3.5px);
        -moz-filter: blur(3.5px);
        -o-filter: blur(3.5px);
        -ms-filter: blur(3.5px);
        filter: blur(3.5px);
    }
    100% {
        -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
    }
}