.button-support-component{
    line-height: 16px;
    text-align: center;
    width: 48px;
    max-width: 48px;
    overflow: hidden;
    .btn{
        &.icon{
            margin-left: auto;
            margin-right: auto;
        }
    }
}