.btn {
  &.normal {
    height: 30px;
    line-height: 1.13;
  }
  &.small {
    height: 28px;
    min-height: 28px;
    width: 28px;
    min-width: 28px;
    padding: 0;
  }
  &.lg {
    height: 44px;
    font-size: 16px;
  }
  &:hover {
    box-shadow: none;
  }
  &.badge {
    width: 110px;
    background: #64e9ff;
    border-radius: 8px;
    font-weight: 600;
    font-family: 'Helvetica Neue';
    &.gradient {
      background: linear-gradient(90deg, #64e9ff, #0082ff);
      &.disable {
        background-image: linear-gradient(90deg, #9c9d9d, #717274);
      }
    }
  }
  color: #fff;
  font-family: 'Helvetica';
  text-transform: none;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  height: 30px;
  line-height: 1.14;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  box-shadow: none;
  text-align: center;
  background-color: $primary;
  &.gradient {
    background: linear-gradient(180deg, #7a11f5 0%, $primary-gradient 100%);
  }
  &.blue {
    &.horizontal {
      background: linear-gradient(90deg, #01aed4 0%, #1340a8 100%);
    }
    background: linear-gradient(180deg, #01aed4 0%, #1340a8 100%);
  }
  &.primary {
    background: $primary;
    &.gradient {
      background: linear-gradient(180deg, $primary 0%, $primary-gradient 100%);
    }
  }
  &.chat {
    background: linear-gradient(90deg, #64e9ff 0%, #0082ff 100%);
  }
  &.fixed {
    position: fixed;
    z-index: 10;
  }
  &.secondary {
    background: $secondary;
    color: #fff;
    &.gradient {
      &.vertical {
        background: linear-gradient(
          180deg,
          $secondary 0%,
          #0767df 50%,
          $secondary-gradient 100%
        );
      }
      &.horizontal {
        background: linear-gradient(
          90deg,
          $secondary 0%,
          $secondary-gradient 100%
        );
      }
    }
  }
  &.tertiary {
    background: $tertiary;
    font-weight: 500;
    font-family: 'Helvetica Neue';
    color: #000;
    &.gradient {
      background: linear-gradient(
        180deg,
        $tertiary 0%,
        $tertiary-gradient 100%
      );
    }
  }
  &.support,
  &.supported {
    height: 30px;
    font-weight: 500;
    box-shadow: 0 3px 6px 0 #00000029;
    border-radius: 8px;
    text-transform: uppercase;
    &.large,
    &.fluid {
      border-radius: 3px;
    }
  }
  &.support {
    background: linear-gradient(90deg, #ff9766, #fc5f62);
    color: #ffffff;
    &.lg {
      height: 44px;
      font-size: 16px;
      font-weight: 600;
    }
  }
  &.supported {
    background: linear-gradient(90deg, #fff, #fff);
    color: #fc5f62;
    &.lg {
      height: 44px;
      font-size: 16px;
      font-weight: 600;
    }
  }
  &.transparent-red {
    background: transparent;
    color: #ff0000;
  }
  &.transparent {
    background: transparent;
    color: #fff;
  }
  &.transparent-gray {
    background: #00000080;
    color: #fff;
  }
  &.green {
    background: #00a850;
  }
  &.light-blue {
    background: #00aedb;
  }
  &.orange {
    background: #f78429;
  }
  &.cyan {
    background: #01add9;
  }
  &.gray {
    background: #717274;
    color: #fff;
    &.gradient{
      background: linear-gradient(to right, #9c9d9d, #717274 99%);
    }
  }
  &.disable {
    background: #717274;
    color: #fff;
    &.gradient {
      background: linear-gradient(90deg, #9c9d9d, #717274 99%);
    }
  }
  &.gray-transparent {
    background: transparent;
    color: #b2b2b2;
    border: none !important;
    box-shadow: none !important;
    font-size: 14px;
  }
  &.rounded {
    border-radius: 8px;
  }
  &.rounded-filter{
    border-radius: 8px;
    font-size: 16px;
    padding: 0;
    height: 30px;
    width: 60px !important;
    background: #0000004d;
  }
  
  &.fluid {
    padding: 0;
    margin: 0;
  }
  &.bold {
    font-weight: 600;
    font-family: 'Helvetica Neue';
  }
  &.icon {
    &.circle {
      border-radius: 50%;
      height: 42px;
      width: 42px;
      padding: 0px;
      align-items: center;
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      svg{
        &.arrow{
          height: 42px;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
      span {
        height: 10px;
        line-height: 12px;
        font-size: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
      }
      div {
        &.overlay {
          position: absolute;
          color: black;
          z-index: 1;
          font-weight: bold;
          font-size: 10px;
          height: 16px;
        }
        &.notificationCounter {
          position: absolute;
          color: white;
          z-index: 1;
          background-color: #fe0000;
          border-radius: 25%;
          min-width: 12px;
          height: 12px;
          align-self: flex-end;
          font-size: 7pt;
          top: 15px;
          padding: 1px;
        }
      }
    }
  }
  &.plan {
    @include plan-detail();
  }

  &.filter {
    background: rgba($color: #000000, $alpha: 0.25);
    span {
      font-size: 17px;
    }
  }
}
.vibe-icon {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  padding: 0;
}
.default-button {
  margin-top: $button-margin-top;
  border-radius: 50%;
  height: $header-button;
  width: $header-button;
  min-height: $header-button;
  min-width: $header-button;
  padding: 0 !important;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &.dark {
    background: #0000004d;
  }
  &.gold {
    background: #fcc505;
  }
}
.btn-close {
  svg {
    background: #fe0000;
    border-radius: 50%;
    border: 4px solid #fe0000;
    width: 18px;
    height: 18px;
    max-height: 26px;
    max-width: 26px;
  }
}

.badge-row {
  width: auto;
  overflow-x: scroll;
  max-height: 30px;
  .badge-item {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 2;
    width: 128px;
    min-width: 128px;
    padding-left: 16px;
    padding-right: 16px;
    height: 30px;
    max-height: 30px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 25px;
    background: #b5b5b5;
    &.active {
      background: #01add9;
    }
  }
}
