.btn { 
    border-radius: 2px;
    text-align: center;
    text-transform: initial;
    
    &.primary { 
        background: $primary;
        color: #FFF;
        &.gradient { 
            background: linear-gradient(180deg, $primary 0%, $primary-gradient 100%);
        }
    }
    &.secondary { 
        background: $secondary;
        color: #FFF;
    }
    &.tertiary { 
        background: $tertiary;
        color: #FFF;
    }

    &.transparent{ 
        background: transparent;
        color: #FFF;
        border: none !important;
        box-shadow: none !important;
    }

    &.full {
        width: 100%;
    }

    &.bold{
        font-weight: bold;
    }

    &.icon { 
        background: rgba(0,0,0,0.5);
        color: #FFF;
        &.circle { 
           border-radius: 50%;
           height: 35px;
           width: 35px;
           align-items: center;
           text-align: center;
           display: flex;
           justify-content: center;
           align-content: center;
        }
    }

    &.rounded-tooltip{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        & div:first-child{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2em;
            margin-bottom: 10px;
            color: #000;
        }

        & div:last-child{
            background-color: rgba(171, 165, 111, 0.5);
            padding: 0px 20px;
            border-radius: 50px;
            font-size: 20px;
        }
       
    }
}
