.card-artist{
    margin: $card-artist-margin;
    height: 140px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-radius: 10px;
    -moz-box-shadow: inset 0 -45px 30px -20px #000000;
    -webkit-box-shadow: inset 0 -45px 30px -20px #000000;
    box-shadow: inset 0 -45px 30px -20px #000000;

    .artist-name{
        display:inline-block;
        border-bottom:1px solid #FFF;
    }
}

.card{
    &.image{
        margin: 0.5rem 0 0.5rem 0 !important;
        height: 165px;
        min-height: 165px;
        min-width: 165px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    &.mixtapes{
        background: transparent;
        position: relative;
        margin: 0;
        box-shadow: none;
        border-radius: 0;
        padding-left: 10px;
        padding-right: 10px;

        .row{
            margin-bottom: 0 !important;
        }
        .cover{
            padding: 15px 10px;
        }
        .tape{
            position: relative;
            height: 200px;
            width: 200px;
            margin: 0 auto;
            border-radius: 50%;
            -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);

            .background{
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                top: 0;
                position: absolute;
                left: 0;
                right: 0;
                border: 0;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                justify-content: center;
                display: flex;
                align-items: center;
                flex-direction: column;
                button {
                    padding: 10px;
                    height: 50px;
                    width: 50px;
                }

                &.without-menu{
                    button:first-child{
                        margin-top: 0px;
                    }
                }
                button:first-child{
                    margin-top: 40px;
                }

                .buttons{
                    button{
                        width: 35px;
                        height: 35px;
                        padding: 0;
                    }
                    button:first-child{
                        margin-top: 0;
                    }
                    @include on-circle($item-count: 4, $circle-size: 100px, $item-size: 35px);
                }

            }

            &::before{
                content: attr(data-tapeindex) ".";
                display: inline-block;
                color: rgba(255, 255, 255, 0.5);
                position: relative;
                right: 18px;
                bottom: 10px;
            }


        }
        .infos{
            justify-content: center;
            .playlist, .quantity{
                color: #FFF;
                font-family: "Helvetica";
                display: flex;
                justify-content: center;
            }
            .playlist{
                font-size: 18px;
            }
        }
    }

    &.video{
        margin: 0.5rem 0 0.5rem 0 !important;
        height: 170px;
        width: 280px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        &::after{
            content: attr(data-time);
            background: #000;
            height: 25px;
            width: 100%;
            font-family: "Helvetica";
            max-width: 45px;
            padding: 3px 3px;
            text-align: center;
            color: #FFF;
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &.rounded{
            &::after{
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        
        &.sm{
            height: 110px;
            width: 190px;
        }

        &.lg{
            height: 185px;
        }

        &.full{
            width: 100%;
        }

    }

    &.rounded{
        border-radius: 10px;
    }

    &.circle{
        border-radius: 50%;
    }

    &.album-gallery{
        background-color: transparent;
        -moz-box-shadow: inset 0 -45px 30px -20px transparent;
        -webkit-box-shadow: inset 0 -45px 30px -20px transparent;
        box-shadow: inset 0 -45px 30px -20px transparent;
        height: 240px;
        .image{
            margin: 0.5rem 0 0.5rem 0 !important;
            height: 165px;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            &.rounded{
                border-radius: 10px;
            }
        }
       .label{
           color: #FFF;
           font-weight: bold;
           font-family: 'Helvetica';
           font-size: 14px;
       }
       span{
            font-family: 'Helvetica';
            font-size: 12px;
            color: #919397;
       }
    }

    &.post{
        height: 290px;
        margin-bottom: 25px;
        border-radius: 20px;

        .info{
            height: 100%;
            display: inline-flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 100%;

            .col{
                display: inline-flex;
            }

            .user{
                label{
                    font-family: "Helvetica";
                    font-size: pxToRem(12);
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: pxToRem(42);
                    letter-spacing: normal;
                    text-align: left;
                    color: #ffffff;
                    margin-left: 5px;
                    &::before{
                        content: "@";
                        display: inline-flex;
                    }
                }
            }
            .button{
                display: inline-flex;
                justify-content: space-between;            
            }
        }

        .row{
            margin-bottom: 17px;
            width: 100%;
        }
    }
}

.card-event{
    background: transparent;
    padding: $card-padding;
    color: #000000;
    min-height: 180px;
    .white-text{ 
        color: #fff; 
        .list{
            color: #fff;
        }
    }
    .calendar{
        border-radius: 50%;
        height: 105px;
        width: 105px;
        &.color{
            @include color-modifiers($attribute: 'background-color');
        }
        &.color-green-base{
            background-color: #89C832;
        }
    }
    .calendar-blue {
        color: #01aed4;
    }
    .list {
        margin-right: 8px;
        width: 100%;
        justify-content: space-between;
    }
    li{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: 360px){
        .calendar{
            height: 80px;
            width: 80px;
        }
    }
}