.chat-component{
    height: auto;
    background: #FFF;

    .messages{
        .info{
            span{
                display: block;
                line-height: 16px;
                font-family: "Montserrat";
                word-wrap: break-word;
                &:first-child{
                    color: #7c8188;
                }
            }
        }
    }
    
}