.fan-page-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  &__ellipse {
    width: 73%;
    height: 36%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25%;
    &--content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      h1 {
        width: 198px;
        height: 53px;
        text-shadow: 0 3px 1px rgba(0, 0, 0, 0.16);
        font-family: Industria-Solid, Industria;
        font-size: 49px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        margin: 0;
      }
      p {
        color: rgba(255, 255, 255, 1);
        margin: 0;
        .underline {
          text-decoration: underline;
        }
      }
      button {
        width: 113px;
        height: 30px;
        border-radius: 8px;
        margin: 19px 0 39px;
        span {
          font-weight: bold;
        }
      }
      .not-connected {
        background-image: linear-gradient(to right, #64e9ff, #0082ff 99%);
        span {
          color: rgba(255, 255, 255, 1);
        }
      }
      .pending {
        background-image: linear-gradient(to right, #facf42, #e0850a 99%);
        span {
          color: #000000;
        }
      }
    }
  }
}
