.atg-header {
  --ion-safe-area-top: $header-margin-top;
  margin-top: $header-margin-top;
  margin-left: $header-margin-left;
  margin-right: $header-margin-right;
  margin-bottom: $header-margin-bottom;
  &.default-height{
    height: 90px;
  }
  &.minimum-height{
    height: 44px;
  }
  .title-left-dual{
    position: absolute;
    left: 60px;
    top: 32px;
  }
  .title-left-single{
    position: absolute;
    left: 60px;
    top: 42px;
  }
  .title-left {
    top: 12px;
    left: 24px;
    position: absolute;
  }
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  &.fixed {
    position: fixed;
    left: 0;
    right: 0;
  }
  &.header-top {
    top: 0;
  }
  .start {
    float: left;
    display: flex;
    justify-content: flex-start;
    min-width: 50px;
    .default-button {
      margin-left: 0;
      margin-right: $button-margin-right;
    }
  }
  .center {
    line-height: 1.1;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .end {
    float: right;
    display: flex;
    justify-content: flex-end;
    min-width: 50px;
    .default-button {
      margin-right: 0;
      margin-left: $button-margin-right;
    }
  }
  svg {
    z-index: 1;
  }
}
