.atg-header {
    --ion-safe-area-top: $header-margin-top;
    margin-top: $header-margin-top;
    margin-left: $header-margin-left;
    margin-right: $header-margin-right;
    margin-bottom: $header-margin-bottom;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 44px;
    &.fixed{
        position: fixed;
        left: 0;
        right: 0;
    }
    &.header-top{
        top: $header-top;
    }
    .default-button{
        margin-top: $button-margin-top;
        border-radius: 50%;
        height: $header-button;
        width: $header-button;
        color: #FFF;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        &.dark{
            background: #0000004d;
        }
    }
    .start{
        float: left;
        display: flex;
        justify-content: flex-start;
        min-width: 50px;
        .default-button{
            margin-left: 0;
            margin-right: $button-margin-right;
        }
        .community{
            height: pxToRem(38);
            margin-left: 9px;
        }
    }
    .center{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .end{
        float: right;
        display: flex;
        justify-content: flex-end;
        min-width: 50px;
        .default-button{
            margin-right: 0;
            margin-left: $button-margin-right;
        }
    }
    svg{
        z-index: 1;
    }

    .title{
        font-size: 30px;
        line-height: 34px;
        font-family: "Industria";
        color: white;
        width: 100%;
        text-align: center;
        &.left{
            text-align: left;
        }
        &.artist-name{
            font-size: 30px;
            line-height: 34px;
            font-family: "Industria";
            margin-left: 8px;
            font-weight: 600;
            color: white;
            text-align: left;
            text-shadow: 0 3px 1px rgba(0, 0, 0, 0.16);
            width: 100%;
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-timing-function: ease-in;
            animation-duration: 400ms;
            &.hide{
                opacity: 0;
            }
        }
        &.biography{
            color: white;
            --color: #5e7fb1;;
            top: 0;
            text-align: center;
            font-family: "Baskerville" !important;
            left: 0px;
            z-index: 1;
            margin-top: 0;
            margin-bottom: 0;
            font-size: pxToRem(50);
            line-height: 36px;
        }
        &.community{
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.4;
            margin-top: 0;
            letter-spacing: 1.2px;
            text-align: left;
            color: #ffffff;
            font-size: pxToRem(30);
            line-height: 36px;
            margin-left: 0 !important;
        }
    }

    .subtitle{
        &.community{
            height: 17px;
            font-family: Helvetica;
            font-size:  pxToRem(14);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.21;
            letter-spacing: normal;
            text-align: left;
            color: #ffffff;
            margin-left: 0 !important;
        }
    }

    
}