ul{
    &.list{
        &.inline{
            list-style: none;
            display: inline-flex;
            margin-top: 0;
            margin-bottom: 0;
            &.flex-end{
                justify-content: flex-end;
                width: 100%;
            }
            li {
                margin-right: 10px;
            }
        }
    }
}

.list-margin-row{
    margin-top: $list-padding-top;
    margin-bottom: $list-padding-bottom;
    display: flex;
}
.list-component{
margin-bottom: 0;
margin-left: $list-margin;
margin-right: $list-margin;
margin-top: 30px;
    .row{
        .col{
            padding: 0;
        }
    }
    h1{
      margin-top: 0;
      line-height: 1.25;
    }
    .text{
        font-family: 'Helvetica';
        color: #FFF;
        font-size: 18px;
        line-height: 1;
    }
    .action{
        display: flex;
        justify-content: flex-end;
        font-size: 16px;
        padding-top: 0px;
    }
}