ul{
    &.list{
        &.inline{
            list-style: none;
            display: inline-flex;
            margin-top: 0;
            margin-bottom: 0;
            &.flex-end{
                justify-content: flex-end;
                width: 100%;
            }
            li {
                margin-right: 10px;
            }
        }
    }
}

.list-component{
    @include title-view-all;
    .list{
        --background: transparent;
        background: transparent;
        .item{
            background: transparent;
            --background: transparent;
        }
    
        .action{
            display: flex;
            justify-content: flex-end;
        }
    
        .text{
            font-family: 'Helvetica';
            color: #FFF;
            padding-left: 4px;
        }
    }
}