.menu{
    &.generic{
        &.scroll{
            justify-content: normal !important;
            overflow-x: scroll;
            margin-top: 30px;
            @include no-scroll-bar();
            li{
                margin-left: 10px !important;
                margin-right: 10px !important;
                // min-width: 65px;
                // overflow: hidden;

                &:first-child{
                    margin-left: 10px !important;
                }
                &:last-child{
                    padding-right: 10px !important;
                }
            }
        }

        justify-content: space-around;
        width: 100%;
        padding: 10px 0;
        margin-top: 30px;
        li{
            margin-right: 0 !important;
            text-align: center;
            height: 70px;
            display: flex;
            flex-direction: column;

                .circle{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    span{
                        border-radius: 50%;
                        height: 40px !important;
                        width: 40px !important;
                        align-items: center;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        background-color: #E0E8CB;
                        font-family: "Industria";
                        font-weight: 600;
                        font-size: 33px;
                        padding-bottom: 2px;
                    }
                }
            
                .title{
                    font-family: 'Helvetica';
                    font-size: 14px;
                    margin-top: 10px;
                    font-weight: 400;
                    border-bottom: 2px solid transparent;
                }

                &.active{
                    .title{
                        font-weight: bold;
                        border-bottom: 2px;
                        border-bottom: 2px solid $tertiary;
                        color: $tertiary;
                        margin-top: 9px;
                        overflow: auto;
                    }

                    .circle{
                        span{
                            background: $tertiary;
                        }
                    }
                }
            }
        
    }

    &.fan-support-options, &.artist-list, &.generic-list{
        width: 100%;
        overflow-y: hidden;
        .header{
            @include header-with-button;
            margin-top: 0;
            padding-top: 0;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            height: 100px;
            margin-top: 0;
            position: fixed;
            z-index: 1;
            .title{
                font-size: pxToRem(50);
                margin-top: 0;
                padding-top: pxToRem(20);
            }
            .subtitle{
                font-size: pxToRem(30);
                margin-left: 0;
                margin-top: pxToRem(-10);
            }
            .button{
                .btn {
                    background: rgba(0, 0, 0, 0.25);
                }
                height: 35px;
                align-items: flex-end;
            }
        }
        .content{
            position: relative;
            top: 100px;
            margin-bottom: 100px;
            ul{
                li{
                    display: inline-flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    width: 100%;
                    font-family: "Roboto";
                    font-weight: 400;
                    color: #333;

                    button{ 
                        padding: 5px 10px;
                        
                    }
                }
            }
        }
    }
    &.generic-list{
        .title{
            color: #000;
            font-family: 'Baskerville';
            font-weight: 600;
            font-size: pxToRem(36);
        }
        .content{
            ul{
                li{
                    .artist{
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        .name{
                            margin-left: 10px;
                            margin-right: 10px;
                            font-family: 'Helvetica';
                            font-size: pxToRem(18);
                        }
                    }
                }
            }
        }
    }

    &.artist-list{
        .header{
            .title{
                color: #000;
                font-family: 'Baskerville';
                font-weight: 400;
                font-size: pxToRem(36);
            }
            .subtitle{
                color: rgba($color: #000, $alpha: 0.65);
                font-family: 'Helvetica';
                font-weight: 400;
                font-size: pxToRem(20);
                margin-top: 0px;
            }
        }
        .content{
            ul{
                li{
                    .artist{
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                        .avatar{
                            height: 40px;
                            width: 40px;
                            border-radius: 50%;
                        }
                        .name{
                            margin-left: 10px;
                            margin-right: 10px;
                            font-family: 'Helvetica';
                            font-size: pxToRem(18);
                        }
                    }
                }
            }
        }
    }
}