.horizontal-menu{
    width: 100%;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
    &.center{
        justify-content: space-evenly;
        width: auto;
        padding-left: 2*$menu-scroll-margin;
        padding-right: 2*$menu-scroll-margin;
        .circle{
            margin-left: $menu-scroll-margin;
            margin-right: $menu-scroll-margin;
            padding: 0px;
        }
    }
    .circle{
        margin-left: $menu-scroll-margin;
        margin-right: $menu-scroll-margin;
        margin-bottom: 6px;
        border-radius: 50%;
        height: 42px !important;
        width: 42px !important;
        padding: 0px;
        max-height: 42px;
        max-width: 42px;
        background-color: $menu;
        font-family: "Industria";
        font-weight: 600;
        font-size: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .label{
        font-family: 'Helvetica';
        font-size: 14px;
        color: $menu;
        font-weight: 400;
        border-bottom: 2px solid transparent;
    }
    .active{
        .label{
            font-weight: bold;
            letter-spacing: -0.6px;
            border-bottom: 2px solid $tertiary;
            color: $tertiary;
        }
        .circle{
            background: $tertiary;
        }
    } 
    &.scroll{
        overflow-x: scroll;
        overflow-y: hidden;
        justify-content: normal !important;
        padding-left: $menu-padding;
    }
}


.fan-support-options, .menu-artist-list, .menu-generic-list{
    position: relative;
    width: 100%;
    overflow-y: hidden;
    .artist{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        .avatar{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
}

.modal-header{
    z-index: 1;
    padding-top: $menu-padding;
    left:0.9*$menu-padding; 
    right:0.9*$menu-padding; 
    padding-left:0.1*$menu-padding; 
    padding-right:0.1*$menu-padding; 
    height: auto;
    position: fixed;
    .sub{
        color: $gray-zambezi;
    }
}
.modal-content{
    margin-bottom: 40px;
    margin-top: 90px;
    padding-left:$menu-padding; 
    padding-right:$menu-padding;
    color: #333; 
    ul{
        li{
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: $menu-padding/2;
            width: 100%;
            button{
                padding: 5px 10px;
            }
        }
    }
}