.modal{
    &.slide{
        &.bottom{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
}
.sliding-panel-container{
    .leaving{
        opacity: 0;
        transform: translateY(100%);
        transition: transform 500ms, opacity 500ms;
    }
    .panel{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

    }
}
