
.player{
    height: $default-height-player;
    background: linear-gradient(180deg, #22022f, #070707);
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    bottom: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .row{
        margin-bottom: 0;
    }
    .cover{
        position: absolute;
        left: 24px;
        height: $default-height-player + 15;
        clip-path: inset(0 0 5px 0);
        bottom: -5px;
        
        .img{
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            height: $default-height-player + 15;
            width: $default-height-player + 15;
            border-radius: 50%;
        }
        .icon{
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            height: 100%;
        }
    }
    
    .progress{
        position: absolute;
        margin: 0;
        height: 3px;
        width: 80%;
        right: 0;
        background-color: #363636;
        bottom: 0;

        .bar{
            background: #FFFFFF;
            height: 3px;
        }
    }

    
    .info{
        height: $default-height-player;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .song, .artist{
            display: block;
            color: #FFF;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 15px;
        }
        
        .song{
            font-weight: bold;
            margin-bottom: 0px;
            margin-top: 5px;
        }    
    }
    
    .commands{
        height: $default-height-player;
        display: flex;
        align-items: center;
    
        ul{
            &.list{
                justify-content: space-around;
                width: 100%;
                li{
                    margin-left: 10px;
                }
            }
        }
    }
    
}