.slider{
    height: auto;
    &.image, &.video, &.radio{
        @include title-view-all;
    }

    &.video{
        > .slick-slider{
            > .slick-list{
                padding-left: 20px !important;
            }
        }
        
        .slick-slide {
            margin: 0 10px;
        }
    }

    &.radio{
        .card{
            &.image{
                &.circle{
                    height: 110px;
                    width: 110px;
                }
            }
        }
        > .slick-slider{
            > .slick-list{
                padding-left: 30px !important;
            }
        }
        
        .slick-slide {
            margin: 0 10px;
            width: 130px;

            .col{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .label{
            color: #FFF;
            font-size: pxToRem(18);
            text-align: center;
            width: 100%;
            margin-top: 2px;
        }
    }
}