.support-by-component{
    list-style: none;
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-flex;
    width: 100%;
    right: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 28px;
    max-width: 224px;
    background: #000000a6;
    border-radius: 40px;
    padding: 2px 8px;
    justify-content: space-around;
    align-items: center;
    .hide{
        opacity: 0;
        transform: translateX(120%);
        transition: transform 200ms, opacity 200ms;
    }
    .show{
        transform: translateX(0);
        opacity: 1;
        transition: opacity 200ms, transform 200ms;
    }
    li{
        &:first-child{
            text-align: right;
            line-height: 10px;
            font-size: 10px;
            color: #fff;
            font-family: 'Helvetica';
            padding-left: 4px;
        }

        &:last-child{
            margin-bottom: 5px;
        }

        &.avatar{
            width: 24px;
            height: 24px;
            border-radius: 50%;
        }
    }
}