.support-by-component{
    list-style: none;
    position: absolute;
    display: inline-flex;
    width: 100%;
    right: 10px;
    margin-top: 0;
    height: 37px;
    max-width: 230px;
    background: rgba(0, 0, 0, 0.65);
    border-radius: 40px;
    padding: 5px 8px;
    justify-content: space-around;
    align-items: center;
    li{
        &:first-child{
            text-align: right;
            line-height: 14px;
            color: #fff;
            font-family: 'Helvetica';
            width: 75px;
        }

        &:last-child{
            margin-bottom: 5px;
        }

        &.avatar{
            width: 27px;
            height: 27px;
            border-radius: 50%;
        }
    }
}