ion-toast::part(container) {
  background: white;
  border-radius: 5px;
  overflow: hidden;
  --max-width: 300px;
  width: 100%;
  position: absolute;
  top: -105px;
}

ion-toast::part(message) {
  font-size: 14px;
  color: #000000;
  text-align: center;
}

ion-toast::part(button) {
  text-decoration: underline;
}