
.title{
    font-size: 60px;
    font-family: "Industria";
    font-weight: 600;
    &.brand{
        font-family: "Controller";
        font-weight: 400;
    }
}


.subtitle {
    font-size: 25px;
    margin-top: 0;
    margin-left: 20px;
    font-family: "Industria";
    font-weight: 600;
}

.title, .subtitle{  
    color: white;
    margin-bottom: 0;
    &.primary { 
        color: $primary;
    }
    &.secondary { 
        color: $secondary;
    }
    &.tertiary { 
        color: $tertiary;
    }
}