.video-card-container {
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  &:after {
    content: attr(data-time);
    background: #000;
    height: 20px;
    width: 100%;
    font-size: 12px;
    white-space: nowrap;
    max-width: 48px;
    padding: 1px 4px;
    text-align: center;
    color: #fff;
    display: block;
    position: absolute;
    bottom: 0px;
    border-radius: 0 0 8px 0;
    right: 0;
  }
  &.fluid{
    height: 190px;
    width: 100%;
  }
  &.slider{
    width: 250px;
  }
  &.sm{
    width: 190px;
    img{
      height: auto;
    }
  }
  .vertical-container {
    border-radius: 8px;
    text-align: center;
    img {
      border-radius: 8px;
      height: 190px;
      width: auto;
    }
  }
}
