.track-list-page{
    .list-track-number{
        min-width: 36px;
        text-align: left;
        padding-right: 16px;
    }
    .track-song{
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 12px;
    }
}
