.track-list-page{
    min-height: calc(100% - 140px);
    .list-track-number{
        min-width: 30px;
        text-align: left;
    }
    .track-song{
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 12px;
    }
}
