@font-face {
	font-family: 'OpenSans';
    src: url('./../../assets/fonts/OpenSans-Bold.ttf');
    font-weight: bold;
}

@font-face {
	font-family: 'OpenSans';
    src: url('./../../assets/fonts/OpenSans-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}

@font-face {
	font-family: 'OpenSans-CondBold';
	src: url('./../../assets/fonts/OpenSans-CondBold.ttf');
}

@font-face {
	font-family: 'OpenSans-ExtraBoldItalic';
	src: url('./../../assets/fonts/OpenSans-ExtraBoldItalic.ttf');
}

@font-face {
	font-family: 'OpenSans-Italic';
	src: url('./../../assets/fonts/OpenSans-Italic.ttf');
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('./../../assets/fonts/OpenSans-Light.ttf');
}

@font-face {
	font-family: 'OpenSans-LightItalic';
	src: url('./../../assets/fonts/OpenSans-LightItalic.ttf');
}

@font-face {
	font-family: 'OpenSans';
	src: url('./../../assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'OpenSans-SemiBold';
	src: url('./../../assets/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
	font-family: 'OpenSans-SemiBoldItalic';
	src: url('./../../assets/fonts/OpenSans-SemiBoldItalic.ttf');
}

@font-face {
	font-family: 'OpenSans-SemiBoldItalic';
	src: url('./../../assets/fonts/OpenSans-SemiBoldItalic.ttf');
}

@font-face {
	font-family: 'lovelyFont';
	src: url('fonts/lovely_font.eot'); 
	src: 
		local('Lovely Font'),
		local('Lovely-Font'),
		url('fonts/lovely_font.otf') 
		format('opentype');
}