@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


@mixin header-with-button {
  margin-top: 2.5em;
  display: flex;
  align-items: center;
  .button{
      display: flex;
      justify-content: flex-end;
  }
}