.ion-page{

    &#sign-in-page{
        ion-content{
            --background: linear-gradient(180deg, #FFC23F 0%, #FFC23F 100%);
        }
    }
    &#sign-up-page{
        ion-content{
            --background: linear-gradient(#000 0%, #000 100%);
        }
    }
    &#enter-code-page{
        ion-content{
            --background: linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%);
        }
    }
    &#sign-up-confirm-page{
        ion-content{
            --background: linear-gradient(#d53d1d 0%, #a32c16 100%);
        }
    }
    &#profile-page{
        ion-content{
            --background: transparent;
        }
    }
    &#initial-page{
        ion-content{
            --background: #000;
        }
    }
}