.ion-page{
    .fixed {
        position: fixed;
    }

    &#gallery-photo-page{
        ion-content{
            --background: #000;
        }
    }

    &#gallery-grid-page{
        ion-content{
            --background: #FFF;
        }
    }
}