@include top-header;
.row{
    .col{
        &.p-0{
            padding: 0px;
        }
    }
}
.flex-wrap{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
}
.flex-wrap-fluid{
    margin-left: -28px;
    margin-right: -28px;
    width: 100vw;
    padding-bottom: 20px !important;
}
.mt-40{
    margin-top: 40px;
}
.flex-fluid{
    width: 100%;
}
.flex-compass{
    width: 100%;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    &.west{
        align-items: flex-start;   
    }
    &.east{
        align-items: flex-end;   
    }
    &.half{
        align-items: center;   
    }
    &.south{
        justify-content: flex-end;   
    }
    &.center{
        justify-content: center;
    }
    &.north{
        justify-content: flex-start;
    }
}
.justify-center{
    display: flex;
    justify-content: center;
}
.text-center{
    text-align: center;
}
.align-items-center{
    height: 100%;
    display: flex;
    align-items: center;
}

.message {
    padding-top: 0px;
    padding-bottom: 0px;
    &.warning{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
}


.h-12{
    height: 12.5%;
}
.h-16{
    height: 16.67%;
}
.h-25{
    height: 25%;
}
.h-33{
    height: 33.33%;
}
.h-50{
    height: 50%;
}
.h-66{
    height: 66.66%;
}
.h-75{
    height: 75%;
}
.h-100{
    height: 100%;
}
.w-100{
    width: 100%;
}
.p-0{
    padding: 0px;
}
.p-10{
    padding: 10px;
}
.align-bottom{
    display: flex;
    align-items: flex-end;
}
.align-start{
    margin-left: 0;
}
.align-end{
    margin-left: auto;
}
.sliding-panel-container{
    .background-bottom{
        height: 30vh;
    }
}
.text-support-icon{
    color: #FFF;
    font-size: 10px;
    white-space: pre;
}
.align-items-end{
    display: flex;
    align-items: flex-end;
}
.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -2px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 2px; /* gutter size */
    background-clip: padding-box;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    background: grey;
    margin-bottom: 2px;
  }
