.space-between{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    > .row{
        width: 100%;
    }
}

.mt-20{
    margin-top: 20px;
}

.mt-40{
    margin-top: 40px;
}

.justify-center{
    display: flex;
    justify-content: center;
}

.message {
    padding-top: 0px;
    padding-bottom: 0px;
    &.warning{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
}

.text-center{
    text-align: center;
}

.align-items-center{
    height: 100%;
    display: flex;
    align-items: center;
}

.h-100{
    height: 100%;
}

.p-10{
    padding: 10px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}

.p-relative{
    position: relative;
}

.is-playing{
    ion-content{
        --padding-bottom: #{$default-height-player + $default-height-tabs + 10};
    }
}

.opacity{
    opacity: 0.5;
}

.background{
    @include color-modifiers($attribute: 'background-color');
}

.sliding-panel-container{
    .background-bottom{
        height: 30vh;
    }
}