<?xml version='1.0' encoding='utf-8'?>
<widget version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <access origin="*" />
  
  <feature name="AppCenterAnalytics">
    <param name="ios-package" value="AppCenterAnalyticsPlugin"/>
    <param name="onload" value="true"/>
  </feature>

  <feature name="AppCenterShared">
    <param name="ios-package" value="AppCenterSharedPlugin"/>
    <param name="onload" value="true"/>
  </feature>

  <platform name="ios">
    <preference name="APP_SECRET" value="9a9dc29e-17b2-48ef-b9c2-d63adafe6331" />
  </platform>
  
</widget>